<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Starter Node and Angular</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="libs/qunit/qunit/qunit.css">

    <!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/qunit/qunit/qunit.js"></script>

    <script src="js/vanilla/scripts.js"></script>
    <script src="js/unitTests/form.js"></script>
    
 
    
    
</head>
<body>
<div class="container-fluid">
<div id="qunit"></div>
<div id="qunit-fixture">
	
	<form id="myForm">
		<label for="firstName">First Name</label>
		<input type="text" id="firstName" name="firstName">
		
		<label for "lastName">Last Name</label>
		<input type="text" id="lastName" name="lastName">
	</form>
	
	
</div>



</div>
</body>
</html>